name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: Set up Java
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21' # Adjust to your Java version

    # Step 3: Build with Maven
    - name: Build with Maven
      run: mvn clean package

    # # Step 4: Rename the JAR file
    # - name: Rename JAR file
    #   run: mv target/*-shaded.jar target/Spotibot.jar

    # Step 5: Cleanup temporary and snapshot files
    - name: Cleanup temporary and snapshot files
      run: |
        rm -f target/*-temp.jar
        rm -f target/original-*.jar

    # Step 6: Save build artifact (Optional)
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Spotibot
        path: target/Spotibot.jar
